@model PostViewModel

<div class="row convert-emoji">
    <div class="col-sm-12 text-center">
        <h1><a asp-controller="Posts" asp-action="Read" asp-route-id="@Model.Post.Id" class="display-4">@Model.Post.Title</a></h1>
    </div>
</div>
<div class="row convert-emoji mt-4">
    <div class="col-sm-2">
        <div class="text-right">  
            <img class="avatar shadow" src="~/images/@Model.AuthorImage" /><br />
            <span class="font-weight-bold">@Model.AuthorName</span><br />
            @Model.Post.Date.ToShortDateString()<br />
            @foreach (var tag in Model.Post.Categories)
            {
                <a asp-controller="Posts" asp-action="Index" asp-route-tag="@tag" 
                    asp-route-pagenumber="1" class="badge badge-pill badge-primary">
                    @tag
                </a>
            }
        </div>
    </div>
    <div class="col-sm-10 article">

        @if (ViewData["Short"] != null)
        {
            @Html.Raw(Model.Post.ShortContent)
        }
        else
        {
            @Html.Raw(Model.Post.Html)
        }
    </div>
</div>