@model ViewModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    <!-- Metadata for Rich Previews -->
    <meta property="og:title" content='@ViewData["Title"]' />
    <meta property="og:description" content='@ViewData["Description"]' />
    <meta property="og:url" content="https://@Context.Request.Host@Context.Request.Path" />
    <meta property="og:image" content='@ViewData["Image"]' />

    <!-- Metadata for Twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://@Context.Request.Host@Context.Request.Path" />
    <meta name="twitter:title" content='@ViewData["Title"]' />
    <meta name="twitter:description" content='@ViewData["Description"]' />
    <meta name="twitter:image" content='@ViewData["Image"]' />
    
    <!-- Metadata for Titlebar color -->
    <meta name="theme-color" content="#343A40" />
    <meta name="msapplication-navbutton-color" content="#343A40">
    <meta name="apple-mobile-web-app-status-bar-style" content="#343A40">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap:300,400,700">

    <!-- EmojiOne -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emojione@4.0.0/extras/css/emojione.min.css"/>

    <!-- Dracula theme for Highlight.js-->
    <link rel="stylesheet" href="~/css/dracula.css" />

    <!-- Custom CSS -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

</head>

<body class="d-flex flex-column h-100">

    <partial name="_CookieConsentPartial" />

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style='@($"background-image:url(\"{Context.Request.Scheme}://{Context.Request.Host}/{Model.Settings.Navbar}\")")'>
            <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="" asp-route-pagenumber="1" class="navbar-brand">
                @Model.Settings.Title
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="" asp-route-pagenumber="1" class="nav-link">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <a href="#" class="search-btn"><i class="fas fa-search"></i></a>
                </form>
            </div>
        </nav>
    </header>


    <main role="main">
        @RenderBody()
    </main>



    <!-- Page Footer-->
    <footer class="footer mt-auto bg-darker pt-3">
        <div class="container">
            <span class="text-muted">Copyright © James Naylor 2019</span> 
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Highlight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- EmojiOne -->
    <script src="https://cdn.jsdelivr.net/npm/emojione@4.0.0/lib/js/emojione.min.js"></script>

    <!-- Custom JS -->
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
