@model IEnumerable<Author>
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron jumbotron-main text-white" >

</div> 


<div class="container jumbo-overlaid rounded shadow">

<div class="row">
    <div class="col-sm-12">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
</div>
    
    @foreach (var author in Model)
    {
        <div class="row mt-5">
            <div class="col-sm-2 offset-sm-1">
                <img class="card-img rounded-circle shadow" src="../@author.ImageUrl" />
                <div class="text-center">
                    <h4>@author.DisplayName</h4>
                    <div>
                        <a href="https://twitter.com/@author.Twitter/"><i class="fab fa-twitter"></i> &commat;@author.Twitter</a> <br />
                        <a href="https://github.com/@author.Github/"><i class="fab fa-github"></i> @author.Github</a> <br />
                        <a href="https://www.linkedin.com/in/@author.LinkedIn/"><i class="fab fa-linkedin"></i> @author.DisplayName</a> <br />
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                @Html.Raw(author.Html)
            </div>
        </div>
    }
</div>
